body{
	margin:0px;
	padding: 0px;
}
nav{
	position: absolute;
	top: -15px;
	text-align: right;
	margin-left:1020px ;

}
li{
	list-style-type: none;
	
}
li a{
	text-decoration: none;
}
a{
	color: black;
	font-family: sans-serif;
	font-size: 13px;
}
a:hover{
	text-decoration:underline;
}
ul.nav_bar li{
	display: inline-block;
	margin-right: 15px;

}
#corps{
	text-align:center;
	margin-top:200px;
}
input[type="text"]{
	width: 600px;
	height: 40px;
	border:1px;
	border-style:none;
	border-radius: 2px;
	box-shadow: 0px 1px 3px -0.5px;
}
input[type="submit"]{
	margin-left:10px;
	margin-top: 20px;
	width: 135px;
	height: 37px;
	border-radius: 3px;
	background-color:rgba();
	border-style: none;
	font-weight: bold;
	font-family: arial,sans-serif;
	color: grey;

}
input[type="submit"]:hover{
	border:solid 1px grey;
	border-radius: 3px;
	color: black;
}
#g{
	margin-top:25px;
	font-size: 15px;
}
#g a{
	text-decoration: none;
	color: blue;
}
#av_foot{
	margin-top:110px; 
	border:solid ;
	border-width: 0.1px;
	border-color: rgba(0,0,0,0.05);
	width: 100%;
	height: 40px;
	background-color: rgba(25,25,25,0.07);

}
#mad{
	position: absolute;
	margin-top: 9px;
	text-indent: 27px;
	font-size: 17px;
	color: grey;
}
.footer{
	width: 100%;
	height: 40px;
	background-color: blue;
	border:solid ;
	border-width: 0.1px;
	border-color: rgba(0,0,0,0.05);
	background-color: rgba(25,25,25,0.07);


}
ul.menu0 li{
	display: inline-block;

}
li.menu1{
	position: relative;
	top: -8px;
	text-indent: -10px;
	margin-right:25px;
}
li.menu1 a{
	color: grey;
}
span{
	margin-left:770px;
}
#img img{
	width: 20px;
}
#sub{
	width:100px;
	height: 30px;
	border-radius:4px;
	background-color: blue;
	color: #fff;
}